{% extends 'base.html' %}

{% block title %}
Welcome!
{% endblock %}

{% block content_1 %}

{% include 'shablons/navbar.html' %}


{% endblock %}

{% block content_2 %}

{% if request.user.is_authenticated %}

{% include 'shablons/day_filters.html' %}
<div id="container">
    <canvas id="pie-chart" width="10%"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script><script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: [{% for value in values.values %} {{ value }}, {% endfor %}],

          backgroundColor: [
            '#ff0000', '#0000ff', '#ff0080', '#73ffff', '#5c26ff', '#002db3', '#ffff26', '#4cff4c', '#ff00ff'
          ],
          label: 'Money'
        }],
        labels: [{% for item in values %}'{{ item }}', {% endfor %}]
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>
    </div>
{% else %}
<p class="p_non_log_text">To get started with the application, <a href="{% url 'register' %}">create your account</a></p>

{% endif %}
{% endblock %}



