{% extends 'base.html' %}

{% block title %}
Welcome!
{% endblock %}

{% block content_1 %}

{% include 'shablons/navbar.html' %}


{% endblock %}

{% block content_2 %}

{% if request.user.is_authenticated %}

{% include 'shablons/day_filters.html' %}
<center>
<div class="for_d">
<div class="col-md-8">
        <canvas id="myChart" width="150" height="100" ></canvas>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, { responsive: true, scaleFontColor: "red",
                type: 'bar',
                data: {
                    labels: [{% for value in values %} '{{ value }}', {% endfor %}],
            datasets: [{
                label: 'Ваши траты по {{type)):',
                data: [{% for value in values.values %} {{ value }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],

                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderWidth: 10,
            }]
                },
            options: {
                scales: { scaleLabel: {
                                            display  : true,
                                            fontSize : 50,
                                            fontColor: "#4a4a4a"
                                        },
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        </script>
    </div>
</div>
    </center>
{% else %}
<p class="p_non_log_text">To get started with the application, <a href="{% url 'register' %}">create your account</a></p>

{% endif %}
{% endblock %}



