body{ background-image:url('background_image_old.jpg');
background-size:cover;
position:sticky;

background-position:top center;




	font-size: 12px;
	font-family: sans-serif;

}

}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}


*/ НИЖЕ ПАНЕЛЬ NAV

.nav {
	margin: 27px auto 0;
    display: flex;
  flex-wrap: wrap;
	position: absolute;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;

	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #7c795d;
	cursor: pointer;
	 font-family: ‘Trocchi’; serif; font-size: 15px; font-weight: normal; line-height: 48px;
}
nav .animation {
	position: absolute;
	height: 60px;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
.for_d {
Chart.defaults.color = "#ff0000";
position: relative;
display: block;
width: 80%;
  float: right;
  font-size:100px;
  font-color:blue;
  color:blue;


    clear: both;



}

.p_non_log_text {
font-family: sans-serif;
  font-size: 45px;


  /* подстраиваем ширину заголовка под самое длинное слово*/
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;

  /* делаем автоматические отступы */
  margin: auto;
  /* переводим все буквы в заглавные */
  text-transform: uppercase;

  /* делаем цветные полосы по тексту */
  background: linear-gradient(219deg,
    var(--color-1) 19%,
    transparent 19%,transparent 20%,
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%,
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%,
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%,
    var(--color-5) 80%);
  /* обрезаем фон по контуру букв */
  background-clip: text;
  -webkit-background-clip: text;

  /* делаем заголовок прозрачным, чтобы был виден цветной фон */
  color: transparent;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} / боковая панель

.header {
margin:100px;
    width: 100%;
    height: 100vh;
    background: red;
}

.side-nav {
    width: 200px;
    height: 80%;
    background: #6496ED;
    position: fixed;
    top: 55px;
    left: 0;
    padding: 20px 30px;
}
f0ffff
#CC66CC
.logo-img {
    width: 170px;
    margin-top: 20px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background: #000000;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links li:hover a {
    color: #fff;
    transition: 0.3s;
}

.nav-links li:hover~.active {
    display: block;
}

.nav-links li:nth-child(1):hover~.active {
    top: 2.6%;
}

.nav-links li:nth-child(2):hover~.active {
    top: 19.2%;
}

.nav-links li:nth-child(3):hover~.active {
    top: 35.8%;
}

.nav-links li:nth-child(4):hover~.active {
    top: 52.4%;
}

.nav-links li:nth-child(5):hover~.active {
    top: 69%;
}

.nav-links li:nth-child(6):hover~.active {
    top: 85.6%;
}
.copyright {
display: flex;
flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;



	color: #aaa;
	font-size: 14px;
	font-family: Verdana;
	text-align: relative;
    margin: 45% 0px 0px 45%;



	position:absolute;

}
.col-md-8 {
position: relative;}

.form_set {
color:red;
font-size:40px;
align:center;}

